@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif;
}

select,
input,
textarea {
  outline: none;
}

.inner-upload-image .filepond--wrapper {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
}

.inner-upload-image .filepond--root {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0;
}

.inner-upload-image .filepond--root .filepond--drop-label {
  min-height: 100% !important;
  cursor: pointer;
}

.inner-upload-image .filepond--root .filepond--drop-label label {
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

.inner-upload-multi-images .filepond--root {
  width: 100% !important;
  max-height: 600px;
  margin-top: 5px;
}
.inner-upload-multi-images .filepond--root .filepond--drop-label {
  cursor: pointer;
}

.inner-upload-multi-images .filepond--root .filepond--drop-label label {
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

.filepond--credits {
  display: none;
}

.filepond--file-action-button.filepond--file-action-button {
  background: #f93c65;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.tox-statusbar__branding {
  display: none;
}

.tox-promotion {
  display: none;
}
